input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef5ff;
    border-left: 5px solid #1e3c72;
    font-weight: bold;
    font-size: 1.2rem;
}

.rodape {
    background-color: #1e3c72; /* Azul escuro oficial do Uni-FACEF  */
    color: white; /* Texto em branco para contraste */
     text-align: center; /* Centraliza as informações de contato */
      padding: 30px 20px; /* Espaçamento interno para não sufocar o texto */
      margin-top: 50px; /* Afasta o rodapé do conteúdo principal (main) */
      font-size: 0.85rem; /* Fonte levemente menor para hierarquia visual */
       border-top: 4px solid #ffd700; /* Linha dourada discreta no topo do footer */
}

.rodape p {
       margin: 4px 0;
}
